*.o
*.a
*.so
*.obj
*.lib
*.dll
*.cm[ioxat]
*.cmx[as]
*.cmti
*.annot
*.byte
*.exe.manifest
.depend
.depend.nt
.DS_Store
*.native
*.out
*.out.dSYM
/tmp/
_build/
.merlin

assets/tiled/hallowdale.tiled-session
config/key_overrides.json
config/button_overrides.json
saves/*.json
prof
